@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer verRecurso
@model SchoolManagement.MVC.Data.Course

@{
    ViewData["Title"] = verRecurso["texto3"];
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">@verRecurso["texto"]</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Courses" asp-action="Index">@verRecurso["texto2"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@verRecurso["texto3"]</li>
    </ol>
</nav>

<h2>@verRecurso["texto3"]</h2>

<div>
    <hr />
    <center>
        <div class="card" style="background-color: #f2f8fd">
            <div class="card-header"></div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6">
                        @verRecurso["texto4"]
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @verRecurso["texto5"]
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt class="col-sm-6">
                        @verRecurso["texto6"]
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Credits)
                    </dd>
                </dl>
            </div>
            <div class="card-footer"></div>
        </div>
    </center>
</div>

<br />

<div>
    <center>
        <a class="btn text-light" style="background-color: #286ce6" asp-action="Edit" asp-route-id="@Model?.Id">@verRecurso["texto7"]</a>
        <a class="btn text-light" style="background-color: #286ce6" asp-action="Index">@verRecurso["texto8"]</a>
    </center>
</div>
