@model SchoolManagement.MVC.Data.Class

@{
    ViewData["Title"] = "Detalles de la Clase";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Classes" asp-action="Index">Clases</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalles de la Clase</li>
    </ol>
</nav>

<h2>Detalles de la Clase</h2>

<div>
    <hr />
    <center>
        <div class="card" style="background-color: #f2f8fd">
            <div class="card-header"></div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Time)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Time)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Course)
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Course?.Code - @Model.Course?.Name
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Lecturer)
                    </dt>
                    <dd class="col-sm-6">
                        @Model.Lecturer?.FirstName @Model.Lecturer?.LastName
                    </dd>
                </dl>
            </div>
            <div class="card-footer"></div>
        </div>
    </center>
</div>

<br />

<div>
    <center>
        <a class="btn text-light" style="background-color: #286ce6" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn text-light" style="background-color: #286ce6" asp-action="Index">Volver a la Lista</a>
    </center>
</div>
