@model SchoolManagement.MVC.Models.ClassEnrollmentViewModel

@{
    ViewData["Title"] = "Gestionar Matrículas";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item active"><a asp-area="" asp-controller="Classes" asp-action="Index">Clases</a></li>
        <li class="breadcrumb-item active" aria-current="page">Gestionar Matriculas</li>
    </ol>
</nav>

<h3>Gestion de Matriculas para la sesión de @Model.Class.Time de la asignatura @Model.Class.Course.Name</h3>
<h4>Profesor: @Model.Class.Lecturer.FirstName @Model.Class.Lecturer.LastName</h4>

<hr />
<h3>Lista de Estudiantes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.Students)
        {
            <tr>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>
                    @{
                        string btnText = student.IsEnrolled ? "Eliminar" : "Añadir";
                        string btnClass = student.IsEnrolled ? "danger" : "success";
                        bool shouldEnroll = !student.IsEnrolled;
                    } 
                    <button data-studentId="@student.Id" data-shouldEnroll="@shouldEnroll" class="btn btn-@btnClass enrollmentBtn" type="button">@btnText</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="EnrollStudent" id="classEnrollmentForm">
    <input type="hidden" id="classid" name="ClassId" value="@Model.Class.Id" />
    <input type="hidden" id="studentId" name="StudentId"/>
    <input type="hidden" id="shouldEnroll" name="ShouldEnroll"/>
</form>

@section Scripts {
    <script>
        $(function() {
            $('.table').DataTable();

            $(function () {
                $('.enrollmentBtn').click(function (e) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: "Please, confirm this action",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, I am sure'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            var btn = $(this);
                            var studentId = btn.attr("data-studentId");
                            var shouldEnroll = btn.attr("data-shouldEnroll");
                            $('#studentId').val(studentId);
                            $('#shouldEnroll').val(shouldEnroll);
                            $('#classEnrollmentForm').submit();
                        }
                    })
                })
            })
        })
    </script>
}