@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocalizationOptions

@{
    var solicitarCultura = Context.Features.Get<IRequestCultureFeature>();

    var listaCulturas = LocalizationOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).ToList();

    var urlActual = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

@inject IViewLocalizer verRecurso

<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.jpg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchoolManagement.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: #4961e1">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">School Management App MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown">@verRecurso["texto"]</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Index"><center>@verRecurso["texto2"]</center></a>
                                </li>
                                <li><hr></li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Classes" asp-action="Index"><center>@verRecurso["texto3"]</center></a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown">@verRecurso["texto4"]</a>
                            <ul class="dropdown-menu w-100">
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Lecturers" asp-action="Index"><center>@verRecurso["texto5"]</center></a>
                                </li>
                                <li><hr></li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index"><center>@verRecurso["texto6"]</center></a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown">@verRecurso["texto7"]</a>
                            <ul class="dropdown-menu w-100">
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Calendar" asp-action="Index"><center>@verRecurso["texto8"]</center></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br />
    <footer class="border-top footer text-muted">
        <div class="piePagina col-6">
            ㅤ&copy; @DateTime.Now.Year - School Management App MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">@verRecurso["texto9"]</a>
        </div>
        <div class="piePagina col-2" id="desplegable">
            <form class="d-flex" asp-controller="Home" asp-action="EstablecerCultura" asp-route-retornarUrl="@urlActual">
                <select name="nuevaCultura" asp-for="@solicitarCultura!.RequestCulture.UICulture.Name" asp-items="listaCulturas" onchange="this.form.submit()">
                </select>
            </form>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
