@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer verRecurso
@model SchoolManagement.MVC.Data.Student

@{
    ViewData["Title"] = verRecurso["texto3"];
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">@verRecurso["texto"]</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Students" asp-action="Index">@verRecurso["texto2"]</a></li>
        <li class="breadcrumb-item active" aria-current="page">@verRecurso["texto3"]</li>
    </ol>
</nav>

<h2>@verRecurso["texto3"]</h2>

<hr />
<div class="row">
    <center>
        <div class="col-md-4">
            <center>
                <div class="card" style="background-color: #f2f8fd">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label">@verRecurso["texto4"]</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label">@verRecurso["texto5"]</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="DateOfBirth" class="control-label">@verRecurso["texto6"]</label>
                                <input asp-for="DateOfBirth" class="form-control" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <input class="btn text-light" style="background-color: #286ce6" type="submit" value="@verRecurso["texto7"]" />
                                <a class="btn text-light" style="background-color: #286ce6" asp-action="Index">@verRecurso["texto8"]</a>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </center>
        </div>
    </center>
</div>

<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
